# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/resources/**
!**/src/test/resources/**

# IntelliJ IDEA
.idea/
*.iml
*.iws

# Eclipse
.classpath
.project
.settings/
.springBeans

# Visual Studio Code
.vscode/

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# React build
frontend/build/
frontend/dist/

# OS specific files
.DS_Store
Thumbs.db

# Logs
logs/
*.log
